<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <img width="1000px" src="/Img/404.gif" alt="I do not Own this image please visit https://www.ivandixon.com/work-1 for more"></img>
        <p></p>
        {{error404}}
        {{>footer}}
    </body>
</html>